.cont-block[data-v-75051068] {
  padding: 10px 15px;
  line-height: 40px;
}
.desc[data-v-75051068] {
  display: inline-block;
  float: right;
  width: 80px;
}
.demo[data-v-75051068] {
  vertical-align: middle;
}
.demo.b[data-v-75051068] {
    width: 120px;
}

