.demo[data-v-94404888] {
  margin-top: 10px;
}
.demo[data-v-94404888]:first-child {
    margin-top: 0;
}
.btn[data-v-94404888] {
  margin-top: 10px;
}
.btn[data-v-94404888]:first-child {
    margin-top: 0;
}
.demo-content[data-v-94404888] {
  padding: 10px 15px;
}

