.demo[data-v-4939dd7e] {
  padding: 10px 15px;
}
.browser-info[data-v-4939dd7e] {
  padding: 10px 15px;
}
.browser-info .icon[data-v-4939dd7e] {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}
.browser-info .name[data-v-4939dd7e] {
    margin-left: 10px;
}

